{% extends "base_generic.html" %}

{% block content %}
    <h1>Card details for: {{ card.name }}</h1>

    <p><strong>Name:</strong> {{ card.name }}</p>
    <p><strong>CMC:</strong> {{ card.cmc }}</p>
    <p><strong>Type{% if card.cardType.all|length > 1 %}s{% endif %}:</strong> 
        {% for type in card.cardType.all %}
            {{ type }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
    <p><strong>Color{% if card.cardColor.all|length > 1 %}s{% endif %}:</strong> 
        {% for type in card.cardColor.all %}
            {{ type }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
    <p><strong>Set{% if card.cardSet.all|length > 1 %}s{% endif %}:</strong>  
        {% for type in card.cardSet.all %}
            {{ type }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
    <br/>
    <p><strong>Elo:</strong> {{ card.cardranking.elo }}</p>

    <img src="{{ card.image.url }}"/>

{% endblock %}